---
layout: base.njk
---

<div class="viewport-container">
<div class="main-content">
  <div class="grid-404">
   <h1>
     <span class="subtitle">404</span>
     <span>Page Not Found</span>
    </h1>
   <div class="content-404">
      <p>We couldn't find the page you're looking for.</p>
      <p>This can sometimes happen when:</p>
      <ul>
        <li>The page no longer exists</li>
        <li>There’s a slight typo in the web address</li>
        <li>The web address wasn’t copied fully</li>
      </ul>
      <p>Please try starting over and go back to the <a href="{{ meta.url }}">A-Z List</a>!</p>
    </div>
    <div class="image-404">
      <img src="/img/possum.webp" alt="">
    </div>
    <div class="image-404-label">
      <a class="404-image__link" href="https://quod.lib.umich.edu/s/sclaudubon/x-b6719890/29376_0041?lasttype=boolean;lastview=reslist;med=1;resnum=41;size=50;sort=istruct_caption_image_title;start=1;subview=detail;view=entry">Didelphis Virginiana, Pennant. Virginian Opossum. (v. 2, no. 14, plate 66)</a>
    </div>
  </div>
</div>
</div>
{% include "partials/banner-contact.njk" %}