---
layout: base.njk
---

<div class="viewport-container">
   <div class="hero-banner">
        <div class="hero-banner-text">
         <h1>
          <span class="subtitle">{{ meta.subTitle }}</span>
          <span>{{ meta.siteName }}</span>
          </h1>
          <p>{{ meta.siteDescription }}</p>
        </div>
        <div class="hero-banner-images ">
        <div class="hero-banner-triad">
          {% for image in banner.images %}
            <img src="{{ image.src }}" alt="" />
          {% endfor %}
           <div class="box-accent-top-left">
            <svg role="presentation" aria-hidden="true" focusable="false" id="blue-box-svg" viewBox="0 0 280 282">
            <path class="rectangle" fill="#A7CDDB" stroke="none" d="M0,0h250v250H0V0z"></path>
             <path class="border" fill="none" stroke="#65A8BF" d="M26.3,28.3h250v250h-250V28.3z"></path>
          </svg>
          </div>
          <div class="box-accent-lower-right">
            <svg role="presentation" aria-hidden="true" focusable="false" id="blue-box-svg" viewBox="0 0 280 282">
            <path class="rectangle" fill="#A7CDDB" stroke="none" d="M0,0h250v250H0V0z"></path>
             <path class="border" fill="none" stroke="#65A8BF" d="M26.3,28.3h250v250h-250V28.3z"></path>
          </svg>
          </div>
          </div>
        
        <div class="triad-label"><a href="https://quod.lib.umich.edu/s/sclaudubon?fn1=is_part_of__work_title_;fq1=The+birds+of+America%3B+from+original+drawings+by+John+James+Audubon;view=reslist;rgn1=ic_all;q1=*">The birds of America; from original drawings by John James Audubon</a></div>

      </div>
    </div>

<div class="grid-layout">
  <div class="side-panel" id="side-panel">
  {% include "partials/filter-panel.njk" %}
  </div>

  <div class="main-panel" id="main">
    {% include "partials/results-list.njk" %}
  </div>
</div>
</div>
{% include "partials/banner-contact.njk" %}