@use 'media';
// --------------------------------------------------
//
// # Banners
//   1. Hero banner
//   2. Banners found above footer
//   Full width banner containing text feedback form or contact
//   3. Banners for alerts found under website header
// --------------------------------------------------

// ************************** //
// *** 1. Banners - Hero *** //
// ************************ //

.hero-banner {
  display: grid;
  grid-template-areas: 
   "bannertext bannerimages";
  grid-template-columns: 1fr 1fr;
  margin: 1.5rem 0;
}

.hero-banner-text {
  grid-area: bannertext;
}

.hero-banner-images {
  grid-area: bannerimages;
}

.hero-banner-triad {
  display: flex;
  height: 300px;
  position: relative;

  img {
    padding: .5rem;
    width: 33%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    
    margin: .5rem;
    border: solid 0.5px var(--color-teal-200);
    border-radius: 0;

    @include media.breakpoint('sm', 'max-width') {
      display: none;
    }
  }
}


/*
.box-accent-top-left {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  transform: rotate(180deg);
  @include media.breakpoint('sm', 'max-width') {
    display: none;
  }
}

.box-accent-lower-right {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 6px;
  @include media.breakpoint('sm', 'max-width') {
    display: none;
  }
}
*/

/*
.hero-banner-image {
  /*background-image: linear-gradient(45deg,
  rgba(16, 102, 132, 0.25),
  rgba(8,83,156, 0.25)), url("/img/library.webp");
  background-size: cover;
  background-repeat: no-repeat;

  @include media.breakpoint('sm', 'max-width') {
    display: none;
  }
}*/

.hero-banner-text {
  padding: 1rem 0;

  .breadcrumbs {
    padding: 0 0 1.5rem;
  }

  h1 {
   display: flex;
   flex-flow: column wrap;
   max-width: 20ch;
  }

  .subtitle {
    font-size: 1.125rem;
    font-family: var(--font-base-family);
    text-transform: uppercase;
    color: var(--color-neutral-300) ;
    font-weight: bold;
  }

  p {
    max-width: 55ch;
    font-size: 1rem;
  }

  @include media.breakpoint('sm', 'max-width') {
    width: 100%;
  }
}

// ******************************************** //
// *** 2. Banners for Feedback and Contact *** //
// ****************************************** //

.feedback-banner {
  background-color: var(--color-indigo-100);
  padding: 1em 0;
  
  a {
    font-weight: bold;
  }
}

.feedback-banner-container {
  display: flex;
  align-items: center;
}

.feedback-icon, .contact-icon {
  border-radius: 100%;
  margin-right: .5rem;
  color: var(--color-teal-400);
}


// ******************************************** //
// *** 3. Banners for Alert *** //
// ****************************************** //


.banner {
  color: var(--color-neutral-400);
  padding: 0.5rem 0;
}

.banner__inner-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.banner__inner-container > p {
  margin: 0;
}

.banner__inner-container > svg {
  flex-shrink: 0;
}

.banner--warning {
  background-color: var(--color-orange-300);
}

.banner--info {
  background-color: var(--color-teal-200);
}

.banner > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.banner > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.banner + .banner {
  border-top: 1px solid var(--color-neutral-400);
}