@use 'media';

// --------------------------------------------------
//
// # Filters
//   Styles for the U-M Library Design System Filter
//   Side panel filter
// --------------------------------------------------

/* Find a collection input - sm viewport */
input[type="text"]#find-collection {
  @include media.breakpoint('sm', 'max-width') {
  width: 100%;
  }
}

/* Clear all button */

button.clear-all-btn {
  border: none;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  font-family: var(--font-base-family);
  color: var(--color-neutral-300);
  text-decoration: underline;
}

/* Filter  */

details.filter:not(:last-child) {
  border-bottom: solid 1px var(--color-neutral-100);
}

details.filter {
  padding: 0.5em 0;
}

details.filter > div {
  padding: 0.25em;
}

details.filter[open] > summary:first-of-type {
  font-weight: var(--semibold);
  color: var(--color-teal-400);
  border-left: 2px solid var(--color-teal-400);
  padding: 0.25em 0.5em;
}

details.filter > summary::after {
  font-family: "Material Icons";
  font-size: 24px;
  content: "\e5cf";
  color: var(--color-teal-400);
}

details.filter[open] > summary::after {
  font-family: "Material Icons";
  content: "\e5ce";
  color: var(--color-teal-400);
}

.filter > summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid transparent;
  padding: 0.25em 0.5em;
  list-style: none;
  cursor: pointer;
}

.filter > summary::-webkit-details-marker {
  display: none;
 }
 
 .filter > summary::marker {
   display: none;
 }

.filters__count {
  color: var(--color-neutral-300);
}

.filters__selected > * + * {
  padding: var(--space-small) 0;
}

.filter-item--list {
  overflow: auto;
}

.filter-item {
  padding: .25rem 0;
}

.filter-item label {
  color: var(--color-neutral-400);
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  display: block;
  margin-bottom: 0rem;
}

.filter-item label > span {
  color: var(--color-neutral-300);
}

.seperator::after {
  font-family: "Material Icons";
  content: "\e315";
  vertical-align: bottom;
  color: var(--color-neutral-200);
  padding-left: 0.25rem;  
}

#current-filters {
  max-width: 80%;
  padding-bottom: .25rem;
  margin-bottom: .25rem;
  border-bottom: solid 1px var(--color-neutral-100);
}

#current-filters h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-neutral-300);
  font-weight: bold;
  padding-top: .5rem;
}

.filter-item > input[type="checkbox"] {
  flex-shrink: 0;
}

/* For Filter Disclosure - sm viewport */

button.disclosure-btn {
  font-family: var(--font-base-family);
  font-size: 1.25rem;
  color: var(--color-neutral-400);
  border: solid 1px var(--color-neutral-300);
  padding: 1rem .5rem;
  width: 100%;
  display: none;
  background: #fff;
  line-height: 1.5;
  border-radius: var(--radius-default);
  
  @include media.breakpoint('sm', 'max-width') {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .disclosure-btn-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
   }
}

button[aria-expanded=false] ~ .disclosure-container {
  @include media.breakpoint('sm', 'max-width') {
    display: none;
  }
}  

.disclosure-container {
  @include media.breakpoint('sm', 'max-width') {
    margin: 1rem 0;
  }
}

/* Icons to show when disclosure is open or closed */

button.disclosure-btn::after {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5cf";
}

button.disclosure-btn[aria-expanded=true]::after  {
  font-family: "Material Icons";
  font-size: 1.5rem;
  content: "\e5ce";
}

// TODO: obnoxious, isn't this?
::highlight(search-results) {
  background-color: #f06;
  color: white;
}