@use 'media';

// --------------------------------------------------
//
// # Site Layout
//  - Grid
//
// --------------------------------------------------

.layout {
  margin: 2rem auto 0;
}

.grid-layout {
  display: grid;
  position: relative;
  grid-template-areas:
      "sidepanel mainpanel ";
  grid-template-columns: 30% 70%;
  grid-template-rows: min-content 1fr;
  margin: 1rem 0;
  gap: 1rem;

  @include media.breakpoint('md', 'max-width') {
    grid-template-columns: 40% 60%;
  }

  @include media.breakpoint('sm', 'max-width') {
    grid-template-areas:
      "sidepanel "
      " mainpanel ";
    grid-template-columns: 100%;
  }
}

.side-panel {
  grid-area: sidepanel;
}

.main-panel {
  grid-area: mainpanel;
}

.side-panel__box {
  display: flex;
  flex-flow: column wrap;
  max-width: 85%;
}

@media screen and (max-width: 751px) {
  .side-panel__box {
    max-width: none;
  }
}