@use 'media';

// --------------------------------------------------
//
// # Site Layout
//  -Flex for pages
//
// --------------------------------------------------

.layout {
  margin: 2rem auto 0;
}

.flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  padding-top: 2rem;
}

.side-panel {
  max-width: 25%;
  margin-bottom: 2rem;
  @include media.breakpoint('sm', 'max-width') {
    width: 25%;
  }
}

.main-panel {
  width: 75%;
  @include media.breakpoint('md', 'max-width') {
    width: 100%;
  }
}

.side-panel__box {
  display: flex;
  flex-flow: column wrap;
  max-width: 80%;
}

@media screen and (max-width: 751px) {
  .side-panel__box {
    max-width: none;
  }
}