// --------------------------------------------------
//
// # A-Z List Collection Results
// 
// --------------------------------------------------

.results-list {
  list-style-type: none;
  padding-left: 0;
}

// Grid for results: thumbnail, title, and metadata
.results-list--grid {
  border-bottom: 1px solid var(--color-neutral-100);
  padding-bottom: 1rem;
  color: var(--color-neutral-400);
  display: grid;
  position: relative;
  grid-template-areas:
      "thumbnail title "
      ". metadata ";
  grid-template-columns: 10% 90%;
  grid-template-rows: min-content 1fr;
  margin: 1rem 0;
  gap: 0 1rem;
}

.results-list--grid .results-list__image, .results-list--grid .results-list__blank {
  grid-area: thumbnail;
}

.results-list__image {
  width: 75px;
  height: auto;
  align-self: flex-start;
  padding: 0;
  margin-right: .25rem;
  flex-shrink: 0;
}

.results-list--grid .results-card {
  position: static;
  grid-area: title;
}

.results {
  margin-top: 0.25em;
}

.results-dl {
  grid-area: metadata;
}

// Grid for results dl: dt and dd for multiple dds
.results-dl-grid {
  display: grid;
  grid-template-areas: 
     "categorylinksdt categorylinksdd";
  grid-template-columns: 12rem 1fr;
  column-gap: 0;
  max-width: 65vw;
}

.results-dl-grid dt {
  grid-area: categorylinksdt;
  font-weight: var(--bold);
  text-transform: capitalize;
  padding: var(--space-xxx-small) 0;
  margin-left: 0;
}

.results-dl-grid dd {
  grid-area: categorylinksdd;
  padding-left: var(--space-small);
  margin-left: 0;
}