<article class="feedback-banner">
  <div class="viewport-container feedback-banner-container">
    <span class="contact-icon material-icons" aria-hidden="true">email</span>
    <p>Do you have questions about this content? Need to report a problem? Please <a href="{{ meta.contact }}">contact us</a>.</p>
  </div>
</article>