<div class="hero-banner">
    <div class="hero-banner-text">
        <h1>
        <span class="subtitle">{{ meta.siteName }}</span>
        <span>{{ meta.subTitle }}</span>
        </h1>
        <p>{{ meta.siteDescription }}</p>
    </div>
    <div class="hero-banner-images ">
    <div class="hero-banner-triad">
          {% for image in banner.images %}
            <img src="{{ image.src }}" alt="" />
          {% endfor %}
    </div>
    <div class="triad-label"><a class="banner-image__link" href="https://quod.lib.umich.edu/s/sclaudubon?fn1=is_part_of__work_title_;fq1=The+birds+of+America%3B+from+original+drawings+by+John+James+Audubon;view=reslist;rgn1=ic_all;q1=*">The birds of America; from original drawings by John James Audubon</a></div>
</div>
</div>
     