<h2 class="sr-only visually-hidden">Filter to Search Collections</h2>
<div id="current-filters" style="display: none;">
  <h3>Current Filters</h3>
  <div class="side-panel__box">
    <div class="filter-item--list">    
    </div>
  </div>
</div>
<h3>Filters</h3>
<div class="side-panel__box" id="available-filters">
  <div>
    <label for="find-collection">Find a Collection</label>
    <input type="text" id="find-collection">
  </div>
  <template id="filter-panel-template">
    <details class="filter" data-list-expanded="false">
      <summary>Filter by Format</summary>
      <div class="filter-item--list">
      </div>
    </details>
  </template>
  <template id="filter-item-template">
    <div class="flex filter-item gap-0_5 ">
      <input type="checkbox" id="filter1" name="filter1" value="Filter 1" >
      <label for="filter1">Filter 1</span></label>
    </div>
  </template>
</div>
